.cmluca-search-result {
	font-size: 15px;
}

.cmluca-search-result:hover {
    cursor : pointer;
    background-color : #eee;
}

.cmluca-search-result span {
	float: right;
	color: #2278da;
}

.cmluca-search-result i {
    color : #2278da;
}

/* State template overrides */
h1 {
	border: none !important;
}
h2 {
    border: none !important;
}
h3 {
    border: none !important;
}
h4 {
    border: none !important;
}
