.cmluca-search-result {
	font-size: 15px;
}

.cmluca-search-result:hover {
    cursor : pointer;
    background-color : #eee;
}

.cmluca-search-result span {
	float: right;
	color: #2278da;
}

.cmluca-search-result i {
    color : #2278da;
}

/* State template overrides */
h1 {
	border: none !important;
}
h2 {
    border: none !important;
}
h3 {
    border: none !important;
}
h4 {
    border: none !important;
}

.county-select {
    width: 130px;
    margin: 0 10px 0 0;
}
.county-select.loading {
	overflow: hidden;
}
@media (max-width: 768px) {
    .county-select {
        width: 100px;
        margin: 0 5px 0 0;
    }
}

h1, h2, h3, h4 {
	background-color: transparent !important;
	border: none !important;
}

.cmluca-popup {
	background-color: white;
	width: 275px;
	border: 1px solid #eee;
	border-radius: 6px;
	
	box-shadow: 0px 0px 4px #222222;
	-webkit-box-shadow: 0px 0px 4px #222222;
	-moz-box-shadow: 0px 0px 4px #222222;
	-ms-box-shadow: 0px 0px 4px #222222;
}